# Notebook
ipykernel
ipywidgets

# Deep Learning
torch # For Linux x86 architecture
# torch==2.8.0 # For ARM64 architecture
torch-geometric
pytorch-lightning
wordninja
gensim
transformers
tensorboard
torchinfo
pot
timm

# Utilities
omegaconf
tqdm
networkx
pandas
fastparquet
imbalanced-learn
scikit-learn
commode-utils
matplotlib
tree-sitter
tree-sitter-cpp