# Notebook
ipykernel
ipywidgets

# Deep Learning
torch
torch-geometric
pytorch-lightning
wordninja
gensim
transformers
tensorboard

# Utilities
omegaconf
tqdm
networkx
pandas
scikit-learn
commode-utils
