# Notebook
ipykernel
ipywidgets

# Deep Learning
torch
# torch==2.8.0
torch-geometric
pytorch-lightning
wordninja
gensim
transformers
tensorboard
torchinfo
pot
timm

# Utilities
omegaconf
tqdm
networkx
pandas
fastparquet
imbalanced-learn
scikit-learn
commode-utils
matplotlib